html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #f7a41d;
}

#slide {
  position: absolute;
  top: 0;
  width: 200vw;
  height: 100vh;
  transition: left 0.75s ease;
}

#slide.page-0 {
  left: 0vw;
}

#slide.page-1 {
  left: -50vw;
}

#slide.page-2 {
  left: -100vw;
}

#zig_page {
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 50vw;
  height: 100vh;
}

#example_page {
  position: absolute;
  left: 50vw;
  top: 0vh;
  width: 50vw;
  height: 100vh;
}

#source_page {
  position: absolute;
  left: 100vw;
  top: 0vh;
  width: 50vw;
  height: 100vh;
  display: grid;
  gap: 4px;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px 24px 1fr;
}

#header {
  grid-column: 2 / 3;
  grid-row: 1;
}

#tabs {
  grid-column: 2 / 3;
  grid-row: 2;
}

#source_buttons {
  grid-column: 1 / 2;
  grid-row: 3;
}

#source_panel {
  grid-column: 2 / 3;
  grid-row: 3;
}

#output_page {
  position: absolute;
  left: 150vw;
  top: 0vh;
  width: 50vw;
  height: 100vh;
  display: grid;
  gap: 4px;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px 24px 1fr;
}

#args {
  grid-column: 2 / 3;
  grid-row: 2;
}

#output_panel {
  grid-column: 2 / 3;
  grid-row: 3;
}

.CodeMirror {
  height: 100%;
}

.tab {
  position: relative;
  bottom: -4px;
  margin-right: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 2px;
  border-radius: 4px;
  border-color: #f3f4f6;
  background-color: #f3f4f6;
}

:hover.tab {
  border-top-color: #f7a41d;
}

.tab-active {
  border-top-color: black;
  border-bottom-color: white;
  background-color: white;
}

:hover.tab-active {
  border-top-color: black;
}

.example_name {
  border-left-width: 4px;
  border-left-color: #f3f4f6;
}

:hover.example_name {
  border-left-color: #f7a41d;
}

.stop_color {
  stroke: #6b7280;
}

.exec_color {
  stroke: #f7a41d;
}

:hover.svg-button {
  stroke: #f7a41d;
}
